/* regole generali  */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear:both;
}

/* pagina */
#container {

  margin:15px;
  /* debug */
  /* height: 800px; */
  /* background: red; */
  /* fine debug */
}

/* header */
.yellowbox {
  margin-bottom: 10px;
  /* debug */
  height:200px;
  background: yellow;
  /* fine debug */
}

/* parte principale */

main {
/* debug */
/* background: black; */
/* fine debug */
}

.violetbox {
  float:left;
  width: 20%;
  /* debug */
  height: 300px;
  background: violet;
  /* fine debug */
}

#violet-small-box {
  height: 200px;
  margin-bottom: 30px;
}

.purplebox {

float:left;
width: 50%;
margin:0 5%;
/* debug */
height: 450px;
background: purple;
/* fine debug */
}

.lightbluebox {

  /* debug */
  margin-top: 10px;
  height: 100px;
  background: lightblue;
  /* fine debug */
}
