/* regole generali  */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear:both;
}

/* pagina */
#container {

  margin:20px;

}

/* header */
.yellowbox {

  margin-bottom: 10px;
  height:250px;
  background: yellow;

}

/* parte principale */

.violetbox {

  float:left;
  width: 25%;
  height: 400px;
  background: violet;

}

#violet-small-box {

  height: 290px;
  margin-bottom: 30px;
}

.purplebox {

float:left;
width: 46%;
margin:0 2%;
height: 650px;
background: purple;
}

/* footer */
.lightbluebox {

  margin-top: 10px;
  height: 150px;
  background: lightblue;
}
