/* regole generali */

*{
 margin:0;
 padding:0;
 box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {

  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* pagina */
#container {
  width: 60%;
  margin: 10px auto;
}


/* header */
header {
  margin-bottom: 20px;

}

/* banner e specifiche  */

.logo {

  position: relative;
  width: 100%;
  height: 300px;

}

.logo img{

  width: 100%;
  height: 300px;
  background-size: cover;
  border: 10px solid white;

}

.logotext {

  position:absolute;
  font-size: 100px;
  color:white;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

#trademark {

  font-size: 30px;
  margin-left:170px;

}


#subtitle {

font-size: 40px;
margin-top: 60px;
}


/* menu e specifiche */

.menu {

  height: 50px;
  background-color: #404040;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;

}

.menu a {

  color:white;
  margin-left:5px;
  margin-right: 5px;
  font-size: 15px;
  font-family: Verdana, Arial;
  text-decoration: none;

}

/* parte principale */

aside {

  float: left;
  width: 20%;
}

#leftbox {
  color:green;
}

#leftbox img {
  width: 20px;
  float:left
}

#leftbox  h2 {

  float:left;
  margin-left: 5px;
}

section {

  float: left;
  width: 50%;
  margin: 0 5%;

}

.box {

  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 15px;
  color: black;
}

h2 {
  margin-bottom: 40px;
}

/* footer */
footer {

  height: 100px;
  background-color: white;

}

/* powered by */
.credit {
  width: 100%;
  height: 19px;
  text-align: center;

}

/* favicons */
.icon {
  display:inline-block;
  width: 33%;
  height: 80px;
}

.icon img {

  display:block;
  margin:auto;
  max-width: 50%;
  max-height: 50%;
  margin-top: 20px;

}
